/* ################
    Global
################ */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

h1{
    font-size: 4em;
    padding: 1em;
    text-align: center;
    background-color: #D81E5B;
    color: white;
}

/* ################
    breadcrumb
################ */ 

.breadcrumb {
    background-color: rgb(255, 255, 255);
}

/* ################
    Menue
################ */ 
.menueimgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menueimgContainer__img{
  padding: 10px;
  /* ACHTUNG: analysiere mit Entwicklertool und untersuche die Auswirkung auf das Boxmodel */
  transform: rotate(5deg);
}

.menueCard {
    font-size: 1.5em;
    background-color: #EBF2FA;
    display: flex;
    align-items: center;
    justify-content: center;

    
     /* WARUM geht das nicht <tbd>
      &__receiptlink {
        padding: 1em;
        color: red;
    } */
}

.menueCard__receiptlink{
    padding: 1em;
}


/* ################
    Receipt
################ */ 

/* cascading hint: class selector (.<name>) beats type selector (h1) */
.receiptPageHeadline{
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    background-color: #D81E5B;
    color: rgb(255, 255, 255);
}

.receiptCard{
    
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*CSS to looks like an card*/
    background-color: #8B9CD6;
    color: white;
    width: 50%;
    margin: 30px auto;
    /* border: 0.2em solid black; */
    border-radius: 1em;
}
/* margin for all Elements*/
.receiptCard__img,
 .receiptCard__headline1,
  .receiptCard__headline2,
   .receiptCard__text,
    .receiptCard__ingredients,
     .receiptCard__steps{
    margin-bottom: 2rem;
}
.receiptCard__textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    background-color: #A2B1E3;
    color: black;
    padding: 20px;
    border-radius: 0.3em;
}
.receiptCard__img{
    /* border: solid black 0.1em; */
    border-radius: 0.3em;
    width: 100%;
    height: auto;
}
.receiptCard__headline1{
    font-weight:bolder;
    text-decoration: underline;

}
.receiptCard__headline2{
  font-style: italic;

}
