/* ################
    Global
################ */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

h1{
    font-size: 4em;
    padding: 1em;
    text-align: center;
    background-color: #D81E5B;
    color: white;
}

/* ################
    breadcrumb
################ */ 

.breadcrumb {
    background-color: rgb(255, 255, 255);
}

/* ################
    Menue
################ */ 

.menueCard {
    font-size: 1.5em;
    background-color: #EBF2FA;
    display: flex;
    align-items: center;
    justify-content: center;

    
     /* WARUM geht das nicht <tbd>
      &__receiptlink {
        padding: 1em;
        color: red;
    } */
}

.menueCard__receiptlink{
    padding: 1em;
}


/* ################
    Receipt
################ */ 

/* cascading hint: class selector (.<name>) beats type selector (h1) */
.receiptPageHeadline{
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    background-color: #D81E5B;
    color: rgb(255, 255, 255);
}

.receiptCard{
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* margin for all Elements*/
.receiptCard__img,
 .receiptCard__headline1,
  .receiptCard__headline2,
   .receiptCard__text,
    .receiptCard__ingredients,
     .receiptCard__steps{
    margin-bottom: 2rem;
}

.receiptCard__img{
    border: solid black 0.3em;
}
.receiptCard__headline1{
    font-weight:bolder;
    text-decoration: underline;

}
.receiptCard__headline2{
  font-style: italic;

}
